# LangChain and related dependencies
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langchain-groq
langgraph

# Machine Learning & NLP
sentence-transformers==2.2.2
numpy==1.26.4  # Explicitly specifying version

# Django and Database
django==4.2.7
psycopg2

# Web Scraping
beautifulsoup4
bs4==0.0.1

# Utilities
typing-extensions==4.9.0
pypdf
